@using System.IO;
@using System;

@{
    ViewData["Title"] = "Home Page";
}


<div style="width:100%;height:600px">
    <ejs-pdfviewer id="pdfviewer" serviceUrl="/api/PdfViewer" documentPath="PDF_Succinctly.pdf"></ejs-pdfviewer>
</div>


